/* Import Bootstrap CSS */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Import Bootstrap Icons */
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* Import AOS (Animate On Scroll) */
@import 'aos/dist/aos.css';

/* Import GLightbox */
@import 'glightbox/dist/css/glightbox.min.css';

/* Import Swiper */
@import 'swiper/css';
@import 'swiper/css/pagination';

/* Custom CSS from iPortfolio template */
/*--------------------------------------------------------------
# Font & Color Variables
--------------------------------------------------------------*/
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
  --background-color: #ffffff;
  --default-color: #272829;
  --heading-color: #050d18;
  --accent-color: #149ddd;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
  --nav-color: #a8a9b4;
  --nav-hover-color: #ffffff;
  --nav-mobile-background-color: #040b14;
}

/*--------------------------------------------------------------
# Background Classes
--------------------------------------------------------------*/
.light-background {
  background-color: #f4fafd;
}

.dark-background {
  background-color: #040b14;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--default-font);
  color: var(--default-color);
  background-color: var(--background-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: #2eafec;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--heading-color);
}

/*--------------------------------------------------------------
# Backend Dashboard Styles
--------------------------------------------------------------*/
.stats-item {
  background: var(--surface-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.57);
  transition: all 0.3s ease;
}

.stats-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 40px rgba(214, 215, 216, 0.7);
}

.stats-item h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--accent-color);
  margin: 1rem 0;
}

.stats-item p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.card {
  border: none;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.57);
  border-radius: 10px;
}

.card-header {
  background: var(--accent-color);
  color: white;
  border-radius: 10px 10px 0 0 !important;
  border: none;
}

.card-header h5 {
  color: white;
  margin: 0;
}

.table th {
  border-top: none;
  font-weight: 600;
}

.btn-group .btn {
  margin-right: 0.25rem;
}

.btn-group .btn:last-child {
  margin-right: 0;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--heading-color);
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--accent-color);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
  color: #777;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: rgba(5, 13, 24, 0.9);
  overflow-y: auto;
}

.header-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9999;
  border: 0;
  background: none;
  font-size: 30px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  color: #fff;
}

.header-toggle:hover {
  color: var(--accent-color);
}

.header .profile-img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

.header .profile-img img {
  max-width: 100%;
}

.header .logo {
  display: block;
  text-align: center;
  margin: 20px auto;
}

.header .logo h1 {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  margin: 0;
}

.header .social-links {
  padding: 0;
  margin: 0;
  text-align: center;
}

.header .social-links a {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #2c2f3f;
  color: #fff;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  transition: 0.3s;
  margin: 0 5px;
}

.header .social-links a:hover {
  background: var(--accent-color);
}

.header .navmenu {
  padding: 30px 0 0 0;
}

.header .navmenu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .navmenu > ul > li {
  position: relative;
  white-space: nowrap;
}

.header .navmenu a,
.header .navmenu a:focus {
  display: flex;
  align-items: center;
  color: var(--nav-color);
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 5px;
}

.header .navmenu a i,
.header .navmenu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: var(--nav-color);
}

.header .navmenu a:hover,
.header .navmenu .active,
.header .navmenu .active:focus,
.header .navmenu li:hover > a {
  color: var(--nav-hover-color);
  background: rgba(255, 255, 255, 0.1);
}

.header .navmenu a:hover i,
.header .navmenu .active i,
.header .navmenu .active:focus i,
.header .navmenu li:hover > a i {
  color: var(--accent-color);
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
.main {
  margin-left: 300px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(5, 13, 24, 0.7) 0%, rgba(5, 13, 24, 0.7) 100%), url("../img/hero-bg.jpg") center center;
  background-size: cover;
  position: relative;
}

.hero .container {
  padding-top: 30vh;
}

.hero h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.hero p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 20px;
}

.hero .typed-cursor {
  font-size: 20px;
  color: #fff;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .content h2 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--heading-color);
}

.about .content h3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--heading-color);
}

.about .content p {
  line-height: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  margin-right: 4px;
  color: var(--accent-color);
}

/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: var(--heading-font);
  color: var(--heading-color);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #e8edf5;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  background-color: var(--accent-color);
}

/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
.portfolio .portfolio-filters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
}

.portfolio .portfolio-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 18px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-filters li:hover,
.portfolio .portfolio-filters li.filter-active {
  color: var(--accent-color);
}

.portfolio .portfolio-filters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 108, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(5, 13, 24, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: 0.3s;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.1);
}

.portfolio .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  padding: 20px 30px;
  text-align: center;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
}

.portfolio .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.portfolio .portfolio-info .preview-link,
.portfolio .portfolio-info .details-link {
  right: 40px;
  font-size: 34px;
  top: calc(50% - 17px);
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  z-index: 4;
}

.portfolio .portfolio-info .preview-link:hover,
.portfolio .portfolio-info .details-link:hover {
  color: #fff;
}

.portfolio .portfolio-info .details-link {
  right: 10px;
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
  background: linear-gradient(135deg, var(--accent-color) 0%, #2eafec 100%);
  border-radius: 50px;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: var(--heading-color);
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.services .icon-box:hover .icon {
  background: var(--accent-color);
}

.services .icon-box:hover h4 a {
  color: var(--accent-color);
}

/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  text-align: center;
  padding: 30px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: var(--heading-color);
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #6c757d;
  margin: 0;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #c3e8fa;
  font-size: 26px;
  line-height: 0;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  font-size: 20px;
  color: #c3e8fa;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-wrap {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #fff;
}

.contact .info-wrap .info-item {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.contact .info-wrap .info-item:not(:first-child) {
  margin-top: 40px;
}

.contact .info-wrap .info-item i {
  font-size: 48px;
  line-height: 0;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.contact .info-wrap .info-item h3 {
  font-size: 20px;
  color: var(--heading-color);
  font-weight: 700;
  margin: 0 0 10px 0;
}

.contact .info-wrap .info-item p {
  padding: 0;
  margin: 0;
  line-height: 26px;
  font-size: 14px;
}

.contact .info-wrap .info-item .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  background: var(--accent-color);
}

.contact .info-wrap .info-item .social-links a:hover {
  background: #2eafec;
  color: #fff;
}

.contact .php-email-form {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #fff;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border: 1px solid #dce1ec;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--accent-color);
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: var(--accent-color);
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #2eafec;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #f7f8fa;
  padding: 0 0 30px 0;
  color: var(--default-color);
  font-size: 14px;
}

.footer .copyright {
  border-top: 1px solid #d1ecff;
  text-align: center;
  padding-top: 20px;
}

.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: var(--accent-color);
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (max-width: 1199px) {
  .header {
    left: -300px;
  }
  
  .main {
    margin-left: 0;
  }
  
  .header-toggle {
    display: block !important;
  }
  
  .header-show {
    left: 0;
  }
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 28px;
    line-height: 36px;
  }
  
  .hero {
    height: auto;
    padding: 80px 0;
  }
  
  .hero .container {
    padding-top: 15vh;
  }
  
  .hero .hero-img {
    text-align: center;
    margin-top: 40px;
  }
  
  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 575px) {
  .hero .hero-img img {
    width: 100%;
  }
}
